<body class="container">
  <header>
    <h1 class="display-4">
      <%= title %></h1>
  </header>
  <div role="main">
    <p class="h6">原文<br><%- source_content %></p>
    <p class="h6">IBM Watson<br><%- ibm_content %></p>
    <p class="h6">Azure<br><%- azure_content %></p>
    <p class="h6">AWS<br><%- aws_content %></p>
    <p class="h6">GCP<br><%- gcp_content %></p>
  </div>
</body>

